body {
  height: 100%;
  background: linear-gradient(90deg, #ffa78a 40%, #fbb4c7);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  margin-top: 80px;
  font-size: 130px;
}

.startBtn {
  margin-top: 300px;
  height: 130px;
  width: 250px;
  border-radius: 10px;
  font-size: 50px;
}

.container {
  height: 800px;
  width: 1400px;
  background-color: white;
  position: absolute;
  bottom: 0px;
  border-radius: 100px;
  display: none;
}

.question {
  margin-top: 120px;
  font-size: 110px;
}

.btnContainer {
  display: flex;
}
.buttonone {
  margin-top: 300px;
  height: 200px;
  width: 600px;
  border-radius: 12px;
  font-size: 35px;
  margin: right 300px;
}

.buttontwo {
  margin-top: 300px;
  height: 200px;
  width: 600px;
  border-radius: 12px;
  font-size: 35px;
  margin: right 300px;
}
